#edit-btn {
    display: block;
    margin: 15px auto;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-btn:hover {
    background-color: #0056b3;
}
